[Unit]
Description=CNCJS Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull sprack/docker-raspi-cncjs:latest
ExecStart=/usr/bin/docker run --rm -t -p 80:8000--name %n sprack/docker-raspi-cncjs:latest

[Install]
WantedBy=multi-user.target
